<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Jchat</title>
  </head>
  <body>
  <div class="container d-flex justify-content-center">
  <div class="row">
  
  <div class="col-md-4">

  <div class="p-1"><h5>Karibu</h5></div>
    {% comment %} <div id="user-hello">
    
    </div> {% endcomment %}
   <div class="p-2"><textarea id="user-hello" cols="80" rows="20" ></textarea></div>
   <div class="p-2"> <input id="input" type="text" size="80" placeholder="Enter Text "><br></div>
   <div class="p-2"> <input id="submit" type="button" value="send" class="btn-success" ></div>
    </div>
  
  </div>
  
  </div> 
  
    {{ room_name|json_script:"room-name"}}
    {{ request.user.username|json_script:"user_username"}}
    {% comment %} Setting up a ws connection {% endcomment %}
  

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
    <script>
    console.log("script is working")
      document.querySelector('#submit').onclick = function(e){
      const messageInputDom = document.querySelector('#input')
      const message = messageInputDom.value
      chatSocket.send(JSON.stringify({
        'message':message,
        'username':user_username,

      }))
      messageInputDom.value=''
    } 
    const user_name = JSON.parse(document.getElementById('user_username').textContent)
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const chatSocket = new WebSocket(
        'ws://'+
        window.location.host +
        '/ws/chat/' +
        roomName +
        '/'
    );
    chatSocket.onmessage = function(e){
      const data = JSON.parse(e.data);
      console.log(data);
      //document.querySelector('#user-hello').innerHTML=(data.tester);
      document.querySelector('#user-hello').value += (data.username + ': ' +data.message + '\n')

    }
   
    </script>
</html>